
.prettierrc.json {
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "always"
}

body {
  font-family: "Roboto", "Raleway" sans-serif;
  color: #212121;
  font-size: 14px;
}

.logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192px;
  letter-spacing: 0.03em;
  color: #168cec;
}
.nav-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  color: #212121;
}
.features-name {
}
.hero-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
